body {
    background: var(--color-primary);
    color: var(--font-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
a {
    color: var(--font-color);
    text-decoration: none;
}

a:hover {

    -webkit-animation:fadeRGB 2s infinite;
    text-decoration: none;
}

div.List {
    display:inline-block;
      width: 20%;
      border: 1px solid var(--color-accent);
       background: rgb(31, 31, 31);
      padding-bottom: 20px;
}

div.VList {
      width: 45%;
      border: 1px solid var(--color-accent);
       background: rgb(31, 31, 31);
      padding-bottom: 20px;
}

div.scrollable {
    float: right;
    width: 45%;
    height: 1000px;
  overflow: auto;
  border: 1px solid var(--color-accent);
  background: rgb(31, 31, 31);
 padding-bottom: 20px;
}

@keyframes fadeRGB
    {
        0%   {color: rgb(54, 158, 255)}
        20%  {color: rgb(54, 255, 195)}
        40%  {color: rgb(252, 255, 54)}
        60%  {color: rgb(255, 77, 12)}
        80%  {color: rgb(235, 45, 213)}
        100% {color: rgb(70, 45, 235)}
   }

@-webkit-keyframes fadeRGB {
      0%   {color: rgb(54, 158, 255)}
      20%  {color: rgb(54, 255, 195)}
      40%  {color: rgb(252, 255, 54)}
      60%  {color: rgb(255, 77, 12)}
      80%  {color: rgb(235, 45, 213)}
      100% {color: rgb(70, 45, 235)}
}

.theme-gilded-dark {
    --color-primary: rgb(21, 21, 21);
    --color-accent: gold;
    --font-color: gold;
 }
 .theme-plain-dark {
    --color-primary: rgb(21, 21, 21);
    --color-accent: rgb(233, 233, 233);
    --font-color: rgb(233, 233, 233);
 }
 .theme-gilded-light {
    --color-primary: rgb(233, 233, 233);
    --color-accent: gold;
    --font-color: rgb(0, 0, 0);
 }
 .theme-plain-light {
    --color-primary: rgb(233, 233, 233);
    --color-accent: rgb(48, 252, 106);
    --font-color: rgb(0, 0, 0);
 }