body {
    background-color: rgb(0, 3, 9);
    color: #cdd3dc;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 1.4;
    margin-left: 15%;
    margin-right: 15%;
}
a {
    color: rgb(119, 202, 243);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    text-align: center;
    animation: colorRotate 3s linear 0s infinite;
}

@keyframes colorRotate {
    from {
      color: #ff3838;
    }
    25% {
      color: #ffc800;
    }
    50% {
      color: #67ff26;
    }
    75% {
      color: #002aff;
    }
    100% {
      color: #ff3838;
    }
  }

  .stats {
    width: 40%;
    display: inline-block;
    border-style: none solid none solid;
  }
  .enginepic {
    width: 28%;
    display: inline-block;
    border-style: none solid none none;
  }