body {
    background-color: rgb(0, 0, 0);
    color: #cdd3dc;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 1.4;
}
.middle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.space {
  background-color: black;
  background-image: url("img/earth over clouds.jpg");
  background-size: cover;
  background-position: 0% 40%;
  border-radius: 5px;
  transition: .5s;
}
.vfx {
  background-color: black;
  background-image: url("img/ship.png");
  background-size: cover;
  background-position: 0% 10%;
  border-radius: 5px;
  transition: 2s;
}
.space:hover {
  background-color: rgb(0, 22, 45);
  border-radius: 10px;
  filter: brightness(1.5);
  animation: shake2 5s;
  animation-iteration-count: infinite;
}
.vfx:hover {
  background-color: rgb(0, 22, 45);
  border-radius: 10px;
  filter: brightness(2);
  animation: shake .3s;
  animation-iteration-count: infinite;
}
a.button {
  border-style: solid;
  padding: 10px 10px 10px 10px;
  color: #cdd3dc;
  border-color: #cdd3dc;
  border-radius: 5px;
  transition: .5s;
}
a.button:hover {
  background-color: #cdd3dc;
  border-style: solid;
  padding: 10px 10px 10px 10px;
  color: white;
  border-color: rgb(255, 255, 255);
  border-radius: 10px;
  transition: .5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes shake2 {
  0% { transform: rotate(-1deg); }
  50% { transform: rotate(1deg); }
  100% { transform: rotate(-1deg); }
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(248, 66, 87);
    text-decoration: none;
    filter: drop-shadow(2px 2px 2px #00000063);
}
a:hover {
    text-align: center;
    color: rgb(176, 218, 255);
}
.fineprint {
  color: grey;
  font-size: 12px;
}

  .estats {
    border-style: solid solid solid solid;
    border-radius: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('img/engines/el3030turnaround0001.png');
    background-position: center;
    background-size:contain;
    transition: 1s;
  }

  .estats:hover {
    background-color: rgb(248, 66, 87);
    color: rgba(0, 0, 0, 0);
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url('img/engines/el3030turnaround0001.png');
    background-position: center;
    background-size:contain;
    transition: 1s;
  }

  @media only screen and (max-device-width: 480px) {
  }