body {
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
a {
    color: rgb(182, 255, 242);
}
a:hover {
    color: rgb(255, 255, 255);
}
a:visited {
    color: rgb(140, 255, 203);
}
img.news {
    width: 100%;
}
img.smol {
    width: 40%;
}
.blogbox {
    width: 90%;
    margin: auto;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    padding: 5px;
}
img.blog {
    width: 20%;
    border-radius: 25px;
    float: left;
    margin: 5px;
}