body {
    background-color: #23272A;
    color: #ffffff;
}
.title {
    background-color: #2c2f33;
    border-radius: 10px;
}
h1 {
    padding: 10px;
}
a {
    color: #7289da;
}
a:hover {
    color: #99afff;
}
a:visited {
    color: #7289da;
}