body 
{
    background-color: rgb(3, 3, 41);
    color: #EEEEEE;
    background-image: url("../Images/spacebgani.gif");
}
.child {
    display: inline-block;
    padding: 2px;
    margin: 2px;
}
.floatR
{
    float: right;
}
.floatL
{
    float: left;
}
.Central 
{
    text-align: center;
}
.button 
{
    color: black;
    background-color: #EEEEEE;
    padding: 4px 10px;
    border-color: rgb(199, 199, 199);
    border-style: groove;
    font-size: small;
}
.button:hover
{
    color: #EEEEEE;
    background-color: #1d1d1d;
    padding: 4px 10px;
    border-color: rgb(199, 199, 199);
    border-style: groove;
    font-size: small;
    
}
.Marquee 
{
    background-image: url("../Images/Maremol.gif");
}
a {
color: #EEEEEE;

}